<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="head">
    <meta charset="UTF-8">
    <title>CompraMI</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</div>
  <body>

  <div th:fragment="header">
      <nav>
          <a th:href="@{index.html}">Home</a>
          <a href="/contatti">Contatti</a>
      </nav>
  </div>

  <p th:fragment="footer">&copy; Diritti riservati</p>

  </body>
</html>