<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org/">
<head>

    <title>CompraMI</title>
    <link rel="icon" href="./templates/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./templates/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{./CSS/styles.css}">
</head>
<body>
<header th:insert="templates/template1 :: headerLoggedSupplier"></header>
<h1>Benvenuto <span th:text="${session.name}"></span>
</h1>

<div class="bodyContainer">
<form class="insertProduct" action="insertProduct" method="POST" enctype="multipart/form-data">
    <h2>Inserisci un nuovo prodotto:</h2>

    <label for="code">Codice Articolo:</label><br>
    <input class="inputInsertProd" type="text" id="code" name="code" required><br>
    <label for="nameProduct">Nome Articolo:</label><br>
    <input class="inputInsertProd" type="text" id="nameProduct" name="nameProduct" maxlength="45" required><br>
    <label for="categoryProduct">Categoria:</label><br>
    <input type="text" class="inputInsertProd" maxlength="45" id="categoryProduct" name="categoryProduct" required><br>
    <label for="priceProduct">Prezzo:</label><br>
    <input type="number" class="inputInsertProd" id="priceProduct" name="priceProduct" required><br>
    <label for="descriptionProd">Descrizione:</label><br>
    <textarea class="inputInsertProdDescr" cols="40" rows="5" maxlength="300" id="descriptionProd" name="descriptionProd" required></textarea><br>
    <label for="imageInput">Immagine Articolo:</label><br>
    <input type="file" id="imageInput" name="imageInput" required><br>
    <br>
    <input type="submit" value="Inserisci il prodotto">
    <p class="positiveMessagge" th:if="${codeResult == 1}">Prodotto inserito!</p>
    <p class="error" th:if="${codeResult == 2}">Prodotto già presente!</p>
    <p class="error" th:if="${codeResult == 3}">Parametri non validi!</p>
    <p class="error" th:if="${codeResult == 4}">Parametri mancanti!</p>

</form>
<div>
<form class="insertShipmentPolicy" action="insertShipmentPolicy" method="post">
    <h2>Inserisci una nuova politica di spedizione:</h2>
    <h4>Compila una delle due sezioni</h4>

    <label for="minArticles">Da </label>
    <input type="number" id="minArticles" name="minArticles">
    <label for="maxArticles"> a </label>
    <input type="number" id="maxArticles" name="maxArticles" maxlength="45"><span> articoli</span><br>
    <label for="shipmentPrice">Prezzo spedizione: </label>
    <input type="number" class="shipmentPrice" maxlength="45" id="shipmentPrice" name="shipmentPrice"><br>

    <h2>Oppure</h2><br>

    <label for="priceFreeShipment">Spesa minima per spedizione gratuita:</label><br>
    <input type="number" id="priceFreeShipment" name="priceFreeShipment"><br>
    <br>
    <input type="submit" value="Inserisci la politica di spedizione">
    <p class="positiveMessagge" th:if="${codeResult == 5}">Politica di spedizione inserita!</p>
    <p class="error" th:if="${codeResult == 6}">Politica già presente o con valori non compatibili!</p>
    <p class="error" th:if="${codeResult == 7}">Parametri mancanti o non validi!</p>
    <p class="error" th:if="${codeResult == 8}">Politica di spedizione gratuita già presente o non coerente con altre politiche di spedizione!</p>


</form>
</div>
</div>
<div class="shipmentPolicies">
    <h3>Politiche di spedizioni presenti</h3>
    <h5 th:if="${shipmentPolicies} == null">Nessuna politica di spedizione presente :(</h5>

    <table th:if="${shipmentPolicies} != null">
        <tr><th>Da</th><th>A</th><th>Prezzo di spedizione</th></tr>
        <tr th:each="shipmentPolicy: ${shipmentPolicies}"><td th:if="${shipmentPolicy.min_articles} > 0 and ${shipmentPolicy.min_articles} != 999999999" th:text="${shipmentPolicy.min_articles}"></td><td th:if="${shipmentPolicy.freeShipment} > 0" th:text="${shipmentPolicy.freeShipment}"></td><td th:if="${shipmentPolicy.min_articles} > 0 and ${shipmentPolicy.min_articles} != 999999999" th:text="${shipmentPolicy.max_articles}"><td th:if="${shipmentPolicy.min_articles} == 999999999"></td><td th:text="${#numbers.formatCurrency(shipmentPolicy.costShipment)}"></td></tr>
    </table>
</div>

<div class="supplierGoods">
    <h3>Articoli in magazzino</h3>
    <h5 th:if="${allProducts} == null">Nessun articolo in magazzino :(</h5>
    <table th:if="${allProducts} != null">
        <tr><th>Codice</th><th>Nome</th><th>Descrizione</th><th>Categoria</th><th>Prezzo</th><th>Foto</th></tr>
        <tr th:each="product: ${allProducts}"><td th:text="${product.code}"></td><td th:text="${product.name}"></td><td th:text="${product.description}"><td th:text="${product.category}"></td><td th:text="${#numbers.formatCurrency(product.price)}"></td><td><img th:src="@{'/upload/' + ${product.image}}" height="100" alt="imageProduct"/></td></tr>
    </table>
</div>



<footer th:insert="templates/template1 :: footer"></footer>

</body>
</html>