<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>CompraMI</title>
    <link rel="icon" href="templates/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="templates/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="CSS/styles.css">
</head>

<body>
<header th:insert="templates/template1 :: header">
</header>
<h1>Benvenut* sul nostro sito di compravendita</h1>
<h4>Che tipo di utente sei?</h4>

<div class="login_body">
    <div class="column">
        <form method="POST" action="login">
            Username
            <label>
                <input type="text" maxlength="20" required name="emailCustomer">
            </label><br><br>
            Password
            <label>
                <input type="password" maxlength="20" required name="passwordCustomer">
            </label><br><br>
            <div class = "error" th:text="${errorLoginCustomer}"></div>
            <div class = "error" th:text="${errorNoCredential}"></div>
            <input type="submit" value="Invia">
        </form>

    </div>
    <div class="column">
        <form method="POST" action="login">
            Username
            <label>
                <input type="text" maxlength="20" required name="emailSupplier">
            </label><br><br>
            Password
            <label>
                <input type="password" maxlength="20" required name="passwordSupplier">
            </label><br><br>
            <div class="error" th:text="${errorLoginSupplier}"></div>
            <div class="error" th:text="${errorNoCredential}"></div>

            <input type="submit" value="Invia"></form>
    </div>
</div>

<footer th:insert="templates/template1 :: footer"></footer>


</body>
</html>