<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>CompraMI</title>
    <link rel="icon" href="templates/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="templates/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="CSS/styles.css">
</head>

<body>
<header th:insert="templates/template1 :: header">
</header>
<h1 class="titleIndex">Benvenut* sul nostro sito di compravendita</h1>

<div class="login_body">
    <div class="column">
        <h2 style="text-align: center">Accesso per i clienti</h2>
        <form class="formLogin" method="POST" action="login">
            Username
            <label>
                <input type="text" maxlength="20" required name="emailCustomer">
            </label><br><br>
            Password
            <label>
                <input type="password" maxlength="20" required name="passwordCustomer">
            </label><br><br>
            <div class = "error" th:text="${errorLoginCustomer}"></div>
            <div class = "error" th:text="${errorNoCredential}"></div>
            <input type="submit" value="Accedi">
        </form>
        <h4 style="text-align: center">Vuoi fare nuovi acquisti ma non sei ancora registrato? Fallo subito - <span><a href="link.html">Registrati</a> </span></h4>

    </div>
    <div class="column">
        <h2 style="text-align: center">Accesso per i venditori</h2>
        <form class="formLogin" method="POST" action="login">
            Username
            <label>
                <input type="text" maxlength="20" required name="emailSupplier">
            </label><br><br>
            Password
            <label>
                <input type="password" maxlength="20" required name="passwordSupplier">
            </label><br><br>
            <div class="error" th:text="${errorLoginSupplier}"></div>
            <div class="error" th:text="${errorNoCredential}"></div>

            <input type="submit" value="Accedi">
        </form>
        <h4 style="text-align: center">Sei un venditore e ti sei ancora registrato? Fallo subito - <span><a href="signup">Registrati</a> </span></h4>
    </div>
</div>

<footer th:insert="templates/template1 :: footer"></footer>

</body>
</html>