<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>CompraMI</title>
    <link rel="icon" href="./templates/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./templates/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{./CSS/styles.css}">
</head>
<body>
<header th:insert="templates/template1 :: headerLoggedCustomer"></header>
<h1>
    <span th:if="${session.sex == 'male'}">Benvenuto</span>
    <span th:if="${session.sex == 'female'}">Benvenuta</span>
    <span th:if="${session.sex == 'notdefine'}">Benvenut*</span>
    <span th:text="${session.name}"></span>
</h1>

<div th:if="${showProducts == 2}">
<table>
    <tr><th>Codice</th><th>Nome</th><th>Prezzo</th>


    <tr  th:each="prod: ${searchedProducts}">

    <td th:text="${prod.code}"></td><td th:text="${prod.name}"></td><td><span th:text="${#numbers.formatCurrency(prod.price)}"></span>
    <button>    <label class="details_button" for="my_checkbox"> Dettagli</label> </button>
</td>

    </tr>


</table>

</div>


<input type="checkbox" id="my_checkbox" style="display:none;">
<div id="hidden">ciao ciao</div>


<style> #hidden {
    display: none;
    height: 100px;
    background: red;
}
:checked + #hidden {
    display: block;
}
</style>








<footer th:insert="templates/template1 :: footer"></footer>
</body>
</html>