<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>CompraMI</title>
    <link rel="icon" href="./templates/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./templates/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{./CSS/styles.css}">
    <style>
        a:link {
            text-decoration: none;
            color: #EDF2F5;
        }

        a:visited {
            text-decoration: none;
            color: #EDF2F5;
        }

        a:hover {
            text-decoration: underline;
            background-color: #EDF2F5;
            color: #555;
        }

        a:active {
            text-decoration: underline;
        }

        th {
            text-align: center;
        }
    </style>
</head>
<body>
<header th:insert="templates/template1 :: headerLoggedCustomer"></header>
<h1>
    <span th:if="${session.sex == 'male'}">Benvenuto</span>
    <span th:if="${session.sex == 'female'}">Benvenuta</span>
    <span th:if="${session.sex == 'notdefine'}">Benvenut*</span>
    <span th:text="${session.name}"></span>
</h1>

<div th:if="${showProducts == null}">
    <table>
        <tr>
        <table>
            <tr th:each="product : ${viewedProducts}">
                <th><a th:href="@{'PersonalAreaCustomer?id=3&codeProd='+${product.code}}" th:text="${product.name}"></a></th>
                <td th:text="${product.description}" style="width: 40%"></td>
                <td><img th:src="@{'/upload/' + ${product.image}}" height="100" alt="imageProduct"/></td>
                <td th:if="${product.sale}" th:class="saleMessage">Prodotto in offerta!</td>
                <td th:if="${product.sale} == false" th:class="saleMessage">Prodotto visto di recente</td>

            </tr>
        </table>
        </tr>
    </table>
</div>

<div th:if="${showProducts == 2}">

    <table>
        <tr>
            <th>Codice</th>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Dettagli</th>
        </tr>
        <tr th:each="product: ${searchedProducts}">
            <td th:text="${product.code}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${#numbers.formatCurrency(product.price)}"></td>
            <td>
                <a th:href="'PersonalAreaCustomer?id=3&codeProd='+${product.code}"><button>Dettagli</button></a>
            </td>
        </tr>
    </table>

</div>

<div th:if="${showProducts == 3}">
    <a th:if="${searchedProducts} != null" th:href="'PersonalAreaCustomer?id=2'"><button>Torna alla schermata di ricerca</button></a>
<div>
    <h3>Informazioni dettagliate sull'articolo selezionato</h3>

    <table>
        <tr>
            <th>Codice</th>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Categoria</th>
            <th>Foto</th>
        </tr>
        <tr>
            <td th:text="${product.code}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.category}"></td>
            <td><img th:src="@{'/upload/' + ${product.image}}" height="100" alt="imageProduct"/></td>
        </tr>
    </table>
</div>
    <div>
        <h3>Informazioni sui fornitori che vendono il prodotto selezionato</h3>
        <table>
            <tr>
                <th>Nome</th>
                <th>Valutazione</th>
                <th>Prezzo prodotto</th>
                <th>Politiche spedizione</th>
                <th># prodotti del fornitore nel carrello</th>
                <th></th>
            </tr>
            <tr th:each="supplier: ${listSuppliers}">
                <td th:text="${supplier.name}"></td>
                <td th:text="${#numbers.formatInteger(supplier.evaluation, 1)}" style="width: 10%"></td>
                <td th:text="${#numbers.formatCurrency(supplier.priceProd)}"></td>
                <td style="width: 30%">
                    <details>
                        <summary>Espandi</summary>
                        <div th:each="shipPolicy: ${shipmentPolicies}"
                             th:if="${shipPolicy.supplier} == ${supplier.code}">
                            <div th:if="${shipPolicy.min_articles} != 999999999">
                                Da <span th:text="${shipPolicy.min_articles}"></span> a <span
                                    th:text="${shipPolicy.max_articles}"></span> articoli <span th:text="${#numbers.formatCurrency(shipPolicy.costShipment)}"></span>
                            </div>
                                <div th:if="${shipPolicy.min_articles} == 999999999">
                                    Spedizione gratuita da <span
                                        th:text="${#numbers.formatCurrency(shipPolicy.freeShipment)}"></span>
                                </div>
                            </div>
                    </details>
                </td>
                <td th:text="${supplier.name}"></td>
                <td>
                    <form method="GET" action="Cart">
                        <label for="numArtCart"></label>
                        <input type="number" id="numArtCart" name="numArtCart">
                        <label for="codeProd"></label><input hidden type="number" id="codeProd" name="codeProd" th:value="${#httpServletRequest.getParameter('codeProd')}">
                        <label for="action"></label><input hidden type="number" id="action" name="action" value="1">
                        <label for="supplier"></label><input hidden type="text" id="supplier" name="supplier" th:value="${supplier.code}">
                        <input type="submit" value="Inserisci nel carrello">
                    </form>
                </td>
            </tr>


        </table>

    </div>


</div>


<footer th:insert="templates/template1 :: footer"></footer>
</body>
</html>