<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>CompraMI</title>
    <link rel="icon" href="./templates/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./templates/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{./CSS/styles.css}">
</head>
<body>
<header th:insert="templates/template1 :: headerLogged"></header>
<h1>
    <span th:if="${session.sex == 'male'}">Benvenuto</span>
    <span th:if="${session.sex == 'female'}">Benvenuta</span>
    <span th:if="${session.sex == 'notdefine'}">Benvenut*</span>
    <span th:text="${session.name}"></span>
</h1>



<footer th:insert="templates/template1 :: footer"></footer>
</body>
</html>